@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@100..900&display=swap');

$font-family: Lexend, sans-serif;   
$primary-color: #00FFCC;
$primary-soft: #00FFCC0D;
$background-color: #060D0C;
$text-primary-color: #F1F5F9;
$text-secondary-color: #94A3B8;
$border-color: #00FFCC33;

/* espaçamentos */
$space-xs: 4px; // Pequenos ajustes, separação mínima
$space-sm: 8px; // Pequenos gaps, padding interno de botões pequenos
$space-md: 16px; // Espaçamento padrão entre seções ou componentes
$space-lg: 32px; // Espaçamento grande entre seções ou componentes
$space-xl: 64px; // Espaçamento extra grande entre seções ou componentes