$font-family: sans-serif, Arial, Helvetica, sans-serif;
$primary-color: #01F0B5;
$background-color: #1C1C20;
$text-primary-color: #f8f9fa;
$text-secondary-color: #9A9A9A;

/* espaçamentos */
$space-xs: 4px; // Pequenos ajustes, separação mínima
$space-sm: 8px; // Pequenos gaps, padding interno de botões pequenos
$space-md: 16px; // Espaçamento padrão entre seções ou componentes
$space-lg: 32px; // Espaçamento grande entre seções ou componentes
$space-xl: 64px; // Espaçamento extra grande entre seções ou componentes