.container {
    background: #08221d;

    border: 0.61px solid #1A9C8540;

    border-radius: 5px;

    padding: 8px;

    z-index: 2;

    margin: 0px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
}