.container {
  display: flex;
  flex-direction: column;
  gap: 16px;
  background-color: #00ffcc05;
  padding: 18px;
  height: fit-content;
  border-radius: 15px;

  h3 {
    font-weight: 700;
    font-size: 14.39px;
    line-height: 17.99px;
  }

  span {
    font-weight: 300;
    font-size: 14.39px;
    line-height: 17.99px;
    color: #a0a0a0;
  }
}

.card {
  background: #1a9c8515;

  border: 0.9px solid #19aa8e40;
  border-radius: 8px;

  padding: 14px;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.codeArea {
  display: flex;
  align-items: center;
  gap: 10px;

  span {
    font-size: 10px;
    color: #01f0b5;
    font-weight: 700;
  }
}

.dot {
  width: 10px;
  height: 10px;

  border-radius: 2px;

  background: #01f0b5;
}

.remove {
  border: none;
  background: transparent;

  color: #ff0000;

  font-size: 1.3rem;

  cursor: pointer;
}

.card h4 {
  color: white;

  font-size: 11px;
}

.card p {
  color: rgba(255, 255, 255, 0.65);
  font-size: 9px;
  font-weight: 300;
}

.schedule {
  margin-top: 4px;

  display: flex;
  gap: 6px;

  span {
    color: rgba(255, 255, 255, 0.65);
    font-size: 9px;
    font-weight: 300;
  }
}
