@use '../../styles/variables.scss' as *;

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: $space-sm;
    width: 100%;
    height: 80px;
    border-bottom: 2px solid $primary-soft;
    padding: 1.4rem 4rem;
    background-color: $background-color;
    position: relative;
  z-index: 10;
}

.logo {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: $space-sm;
}

.LogoArea {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5px;
    background-color: $primary-soft;
    border-radius: 8px;
    color: $primary-color;
}

.imgLogo{

    width: 45px;
}

.name span {
    color: $primary-color;
}

.sobre {
    transition: 0.3s;
    cursor: pointer;

    &:hover {
        color: $primary-color;
    }
}

.infoBtn{
    display: flex;
    align-items: center;
    justify-content: center;
    color: $primary-color;
    padding: 10px;
    border: 1px solid $border-color;
    border-radius: 8px;
    background-color: $primary-soft;
}