@use '../../styles/variables.scss' as *;

.footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: $space-sm;
    width: 100%;
    border-top: 2px solid $primary-soft;
    padding: 1.6rem 4rem;
    background-color: $background-color;
}

.copyright {
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
    vertical-align: middle;
    color: $text-secondary-color;

    p{
        display: flex;
        align-items: center;

        svg {
            margin-bottom: 2px;
        }
    }
}

.metrics {
    display: flex;
    gap: $space-lg;
    font-weight: 700;

    p {
        display: flex;
        flex-direction: column;
        border-right: 1px solid $border-color;
        padding-right: $space-lg;
        font-size: 12px;

        &:last-child {
            border-right: none;
            padding-right: 0;
        }

        span{
            font-size: 18px;
            color: $text-primary-color;
        }
    }
}