.grid {
  display: flex;
  flex-direction: column;

  padding: 0 20px 20px;
}

.row {
  display: grid;

  grid-template-columns: 80px repeat(6, 1fr);

  height: 60px;
}

.time {
  display: flex;
  align-items: center;
}

.cell {
  border: 1px solid rgba(255,255,255,0.05);

  border-radius: 8px;
}